/*
1. Posicionamiento
2. Modelo de Caja (Box Model)
3. Tipografía
4. Visuales
5. Otros
*/

:root {
    /* Colores */
--red-orange: #f73b1a;
--soft-orange: #ffe9d5;
--secondary-blue: #1a9af7;
--gray-dark: #33312d;
--warm-black: #191a1f;
--black: #0e0e11;
--grey: #bababa;
--off-white: #faf8f7;
--just-white: #fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--black);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23540606' fill-opacity='0.4'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    color: var(--off-white);
    font-size: 100%;
    
    /* Optimizacion texto navegador */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Scroll suave */
    scroll-behavior: smooth;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none!important; 
}

a {
    text-decoration: none!important;
}


/**************** GENERAL *****************/
.Position--Relative     { position: relative !important; }
.Position--Absolute     { position: absolute !important; }
.Full--Width            { width : 100%; }
.Full--Height           { height: 100%; }
.Overflow--Auto        { overflow: auto!important;}


/***************  Letter Spacing  ***************/
.LetterSpacing_N {letter-spacing: normal;}
.L-S-3 {letter-spacing: 1px;}
.L-S-2 {letter-spacing: 0.5px;}
.L-S-1 {letter-spacing: 0.25px;}
.L-S-05 {letter-spacing: -0.05px;}
.L-S-n1 {letter-spacing: -0.1px;}
.LineHeight-Initial {line-height: initial; }
.L-H-1 {line-height: 1; }
.L-H-2 {line-height: 1.2; }
.L-H-3 {line-height: 1.3; }
.L-H-4 {line-height: 1.4; }
.L-H-5 {line-height: 1.5; }

/************* Fuentes Tamaños *************/
.FontsSize-10 { font-size: 10px !important;}
.FontsSize-11 { font-size: 11px !important;}
.FontsSize-12 { font-size: 12px !important;}
.FontsSize-13 { font-size: 13px !important;}
.FontsSize-14 { font-size: 14px !important;}
.FontsSize-15 { font-size: 15px !important;}
.FontsSize-16 { font-size: 16px !important;}
.FontsSize-17 { font-size: 17px !important;}
.FontsSize-18 { font-size: 18px !important;}
.FontsSize-19 { font-size: 19px !important;}
.FontsSize-20 { font-size: 20px !important;}
.FontsSize-22 { font-size: 22px !important;}
.FontsSize-23 { font-size: 23px !important;}
.FontsSize-24 { font-size: 24px !important;}
.FontsSize-30 { font-size: 30px !important;}
.FontsSize-45 { font-size: 45px !important;}


/**************** Estilos Fuentes ****************/
.X-Light { font-weight: 200; }
.Light {font-weight: 300!important; }
.Regular {font-weight: 400!important;}
.Medium { font-weight: 500!important;}
.Semibold { font-weight: 600!important;}
.Bold { font-weight:700!important;}
.Extra-Bold { font-weight:800!important;}
.Black { font-weight:900!important;}
.LightItalic {font-style: italic;}

.Box_Shadow  { box-shadow: 0 5px 6px rgba(0, 0, 0, 0.12) !important;}


/**************** Colores ****************/
.Color-Light        { color: var(--just-white);}
.Color-Off-White     { color: var(--off-white);}
.Color-Soft-Orange     { color: var(--soft-orange);}
.Color-Muted        { color: var(--grey);}

.Bk-Color-Light        { background-color: var(--just-white);}
.Bk-Color-Off-White     { background-color: var(--off-white);}
.Bk-Color-Soft-Orange    { background-color: var(--soft-orange);}
.Bk-Color-Muted       { background-color: var(--grey);}



/**************** Codigo Proyecto ****************/

body header {
    background-color: #0f01019a;
    border-bottom: 1px solid var(--gray-dark);
}

.container {
    width: 90%;
    margin: auto;
}

a {
    color: var(--grey);
  }


/* Navigation */
.nav-main {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 67px;
    padding: 20px 0;
    font-size: 17px;
}

.nav-main .nav-brand {
    width: 50px;
}


/* Nav Left */
.nav-main ul {
    display: flex;
}
.nav-main .nav-menu {
    flex: 1;
    margin-left: 20px;
}
.nav-main ul li {
    padding: 10px;
}
.nav-main ul li a {
    transition:0.3s all;
}
.nav-main ul li a:hover {
    color: var(--just-white);
}


/* Modificador Especial Linea ANimada de menu */
.nav-menu__hover-line::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: var(--red-orange);
    transition: width 0.4s;
}
.nav-menu__hover-line:hover::after {
    width: 100%;
    transition: width 0.4s;
}


/*  Showcase  */
.showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    width: 100%;
    height: calc(100vh - 70px);
    padding-bottom: 77px;
    /* BK-Imagen */
    background-image: url('/img/showcase2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.showcase h2 { 
    margin-bottom: 10px; 
    font-size: 30px; 
    font-weight: 700; 
}
.showcase p { 
    width: 90%;
    margin-bottom: 25px; 
    font-weight: 300;
}
.showcase .btn {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid var(--grey);
    background-color: var(--warm-black);
    border-radius: 4px;
    transition: 0.3s all;
}
.showcase .btn:hover {
    padding: 10px 27px;
    color: var(--just-white);
    border: 1px solid var(--just-white);
    border-radius: 12px;
}

/* Modificador Especial btn span*/
.showcase .btn span:nth-child(1) {
    margin-right: 9px;
    transition: 0.3s all; 
}
.showcase .btn span:nth-child(1):hover {
    margin-right: 15px;
}
.showcase .btn span:nth-child(2) {
    font-size: 19px;
    color: var(--red-orange);
    transition: 0.3s all;
}
.showcase .btn span:nth-child(2):hover {
    margin-left: 7px;
}